## Import processed dataset

In [1]:
import pandas as pd

In [2]:
raw_books = pd.read_csv('./dataset/processed_dataset/processed_books.csv')

In [3]:
raw_books

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,0439785960,9780439785969,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,0439358078,9780439358071,eng,870,1996446,27613
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,0439554934,9780439554930,eng,320,5629932,70390
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9780439655484,eng,435,2149872,33964
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling-Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,38872,154
...,...,...,...,...,...,...,...,...,...,...
2738,47693,The Day I Swapped My Dad for Two Goldfish,Neil Gaiman-Dave McKean,4.03,0060587016,9780060587017,en-US,64,8744,524
2739,47697,The Sandman: King of Dreams,Alisa Kwitney-Neil Gaiman,4.62,0811835928,9780811835923,eng,180,12775,34
2740,47699,M Is for Magic,Neil Gaiman-Teddy Kristiansen,3.82,0061186422,9780061186424,eng,260,11317,1060
2741,47700,Black Orchid,Neil Gaiman-Dave McKean,3.72,0930289552,9780930289553,eng,160,8710,361
2742,47701,InterWorld (InterWorld #1),Neil Gaiman-Michael Reaves,3.53,0061238961,9780061238963,en-US,239,14334,1485

In [4]:
raw_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2743 entries, 0 to 2742
Data columns (total 10 columns):
bookID                2743 non-null int64
title                 2743 non-null object
authors               2743 non-null object
average_rating        2743 non-null float64
isbn                  2743 non-null object
isbn13                2743 non-null int64
language_code         2743 non-null object
# num_pages           2743 non-null int64
ratings_count         2743 non-null int64
text_reviews_count    2743 non-null int64
dtypes: float64(1), int64(5), object(4)
memory usage: 214.4+ KB

In [5]:
books = raw_books[['title','# num_pages']]

In [6]:
books = books.rename(columns={'# num_pages':'page_number'})

In [9]:
books

                                                  title  page_number
0     Harry Potter and the Half-Blood Prince (Harry ...          652
1     Harry Potter and the Order of the Phoenix (Har...          870
2     Harry Potter and the Sorcerer's Stone (Harry P...          320
3     Harry Potter and the Prisoner of Azkaban (Harr...          435
4     Harry Potter Boxed Set  Books 1-5 (Harry Potte...         2690
...                                                 ...          ...
2738          The Day I Swapped My Dad for Two Goldfish           64
2739                        The Sandman: King of Dreams          180
2740                                     M Is for Magic          260
2741                                       Black Orchid          160
2742                        InterWorld (InterWorld  #1)          239

[2743 rows x 2 columns]

## Get books API

### Goodread API

In [10]:
import goodreads_api_client as gr
client = gr.Client(developer_key='bFBoXe5POBSK3Tngu0nSHQ')

##### Book API Example

In [11]:
#client.Book.show('47700')

### Librarything API

In [12]:
import requests
from xml.etree import ElementTree

In [13]:
url = 'http://www.librarything.com/services/rest/1.1/?method=librarything.ck.getwork&isbn=0061238961&apikey=41bb5b71c8a2f27ea438d764e20520b4'

In [14]:
response = requests.get(url).content

In [15]:
#response

In [16]:
#tree = ElementTree.fromstring(response)

In [17]:
import xmltodict

In [18]:
librarything_books_api = xmltodict.parse(response)

In [23]:
librarything_books_api['response']['ltml']['item']['commonknowledge']

OrderedDict([('fieldList',
              OrderedDict([('field',
                            [OrderedDict([('@type', '4'),
                                          ('@name', 'awards'),
                                          ('@displayName',
                                           'Awards and honors'),
                                          ('versionList',
                                           OrderedDict([('version',
                                                         OrderedDict([('@id',
                                                                       '9570568'),
                                                                      ('@archived',
                                                                       '0'),
                                                                      ('@lang',
                                                                       'eng'),
                                                                      ('date',
                                                                       OrderedDict([('@timestamp',
                                                                                     '1475052492'),
                                                                                    ('#text',
                                                                                     'Wed, 28 Sep 2016 04:48:12 -0400')])),
                                                                      ('person',
                                                                       OrderedDict([('@id',
                                                                                     '120385'),
                                                                                    ('name',
                                                                                     'davidgn'),
                                                                                    ('url',
                                                                                     'http://www.librarything.com/profile/davidgn')])),
                                                                      ('factList',
                                                                       OrderedDict([('fact',
                                                                                     'TLA Tayshas High School Reading List (2007)')]))]))]))]),
                             OrderedDict([('@type', '23'),
                                          ('@name', 'series'),
                                          ('@displayName', 'Series'),
                                          ('versionList',
                                           OrderedDict([('version',
                                                         OrderedDict([('@id',
                                                                       '9570567'),
                                                                      ('@archived',
                                                                       '0'),
                                                                      ('@lang',
                                                                       'eng'),
                                                                      ('date',
                                                                       OrderedDict([('@timestamp',
                                                                                     '1475052492'),
                                                                                    ('#text',
                                                                                     'Wed, 28 Sep 2016 04:48:12 -0400')])),
                                                                      ('person',
                                                                       OrderedDict([('@id',
                                                                                     '305090'),
                                                                                    ('name',
                                                                                     'TerenceHearsay'),
                                                                                    ('url',
                                                                                     'http://www.librarything.com/profile/TerenceHearsay')])),
                                                                      ('factList',
                                                                       OrderedDict([('fact',
                                                                                     'InterWorld (1)')]))]))]))]),
                             OrderedDict([('@type', '41'),
                                          ('@name', 'originaltitle'),
                                          ('@displayName', 'Original title'),
                                          ('versionList',
                                           OrderedDict([('version',
                                                         OrderedDict([('@id',
                                                                       '9570565'),
                                                                      ('@archived',
                                                                       '0'),
                                                                      ('@lang',
                                                                       'eng'),
                                                                      ('date',
                                                                       OrderedDict([('@timestamp',
                                                                                     '1475052492'),
                                                                                    ('#text',
                                                                                     'Wed, 28 Sep 2016 04:48:12 -0400')])),
                                                                      ('person',
                                                                       OrderedDict([('@id',
                                                                                     '1330051'),
                                                                                    ('name',
                                                                                     'Pigletto'),
                                                                                    ('url',
                                                                                     'http://www.librarything.com/profile/Pigletto')])),
                                                                      ('factList',
                                                                       OrderedDict([('fact',
                                                                                     'Interworld')]))]))]))]),
                             OrderedDict([('@type', '21'),
                                          ('@name', 'canonicaltitle'),
                                          ('@displayName', 'Canonical title'),
                                          ('versionList',
                                           OrderedDict([('version',
                                                         OrderedDict([('@id',
                                                                       '9570558'),
                                                                      ('@archived',
                                                                       '0'),
                                                                      ('@lang',
                                                                       'eng'),
                                                                      ('date',
                                                                       OrderedDict([('@timestamp',
                                                                                     '1475052491'),
                                                                                    ('#text',
                                                                                     'Wed, 28 Sep 2016 04:48:11 -0400')])),
                                                                      ('person',
                                                                       OrderedDict([('@id',
                                                                                     '57581'),
                                                                                    ('name',
                                                                                     'Wova4'),
                                                                                    ('url',
                                                                                     'http://www.librarything.com/profile/Wova4')])),
                                                                      ('factList',
                                                                       OrderedDict([('fact',
                                                                                     'InterWorld')]))]))]))]),
                             OrderedDict([('@type', '30'),
                                          ('@name', 'dedication'),
                                          ('@displayName', 'Dedication'),
                                          ('versionList',
                                           OrderedDict([('version',
                                                         OrderedDict([('@id',
                                                                       '9570555'),
                                                                      ('@archived',
                                                                       '0'),
                                                                      ('@lang',
                                                                       'eng'),
                                                                      ('date',
                                                                       OrderedDict([('@timestamp',
                                                                                     '1475052491'),
                                                                                    ('#text',
                                                                                     'Wed, 28 Sep 2016 04:48:11 -0400')])),
                                                                      ('person',
                                                                       OrderedDict([('@id',
                                                                                     '357526'),
                                                                                    ('name',
                                                                                     'InfoQuest'),
                                                                                    ('url',
                                                                                     'http://www.librarything.com/profile/InfoQuest')])),
                                                                      ('factList',
                                                                       OrderedDict([('fact',
                                                                                     '![CDATA[ Neil would like to dedicate this book to his son Mike, who read the manuscript and liked it and encouraged us, and always asked when he was going to be able to read it in a real book.\nMichael would like to dedicate this book to Steve Saffel. ]]>')]))]))]))]),
                             OrderedDict([('@type', '26'),
                                          ('@name', 'lastwords'),
                                          ('@displayName', 'Last words'),
                                          ('versionList',
                                           OrderedDict([('version',
                                                         OrderedDict([('@id',
                                                                       '9570551'),
                                                                      ('@archived',
                                                                       '0'),
                                                                      ('@lang',
                                                                       'eng'),
                                                                      ('date',
                                                                       OrderedDict([('@timestamp',
                                                                                     '1475052491'),
                                                                                    ('#text',
                                                                                     'Wed, 28 Sep 2016 04:48:11 -0400')])),
                                                                      ('person',
                                                                       OrderedDict([('@id',
                                                                                     '200044'),
                                                                                    ('name',
                                                                                     'herebebooks'),
                                                                                    ('url',
                                                                                     'http://www.librarything.com/profile/herebebooks')])),
                                                                      ('factList',
                                                                       OrderedDict([('fact',
                                                                                     '![CDATA[ We Walked. ]]>')]))]))]))]),
                             OrderedDict([('@type', '25'),
                                          ('@name', 'firstwords'),
                                          ('@displayName', 'First words'),
                                          ('versionList',
                                           OrderedDict([('version',
                                                         OrderedDict([('@id',
                                                                       '9570550'),
                                                                      ('@archived',
                                                                       '0'),
                                                                      ('@lang',
                                                                       'eng'),
                                                                      ('date',
                                                                       OrderedDict([('@timestamp',
                                                                                     '1475052491'),
                                                                                    ('#text',
                                                                                     'Wed, 28 Sep 2016 04:48:11 -0400')])),
                                                                      ('person',
                                                                       OrderedDict([('@id',
                                                                                     '744586'),
                                                                                    ('name',
                                                                                     'Patangel'),
                                                                                    ('url',
                                                                                     'http://www.librarything.com/profile/Patangel')])),
                                                                      ('factList',
                                                                       OrderedDict([('fact',
                                                                                     '![CDATA[ Once I got lost in my own house. ]]>')]))]))]))]),
                             OrderedDict([('@type', '16'),
                                          ('@name', 'originalpublicationdate'),
                                          ('@displayName',
                                           'Original publication date'),
                                          ('versionList',
                                           OrderedDict([('version',
                                                         OrderedDict([('@id',
                                                                       '9570546'),
                                                                      ('@archived',
                                                                       '0'),
                                                                      ('@lang',
                                                                       'eng'),
                                                                      ('date',
                                                                       OrderedDict([('@timestamp',
                                                                                     '1475052491'),
                                                                                    ('#text',
                                                                                     'Wed, 28 Sep 2016 04:48:11 -0400')])),
                                                                      ('person',
                                                                       OrderedDict([('@id',
                                                                                     '224869'),
                                                                                    ('name',
                                                                                     'ElizaJane'),
                                                                                    ('url',
                                                                                     'http://www.librarything.com/profile/ElizaJane')])),
                                                                      ('factList',
                                                                       OrderedDict([('fact',
                                                                                     '2007')]))]))]))]),
                             OrderedDict([('@type', '3'),
                                          ('@name', 'characternames'),
                                          ('@displayName',
                                           'People/Characters'),
                                          ('versionList',
                                           OrderedDict([('version',
                                                         OrderedDict([('@id',
                                                                       '9570543'),
                                                                      ('@archived',
                                                                       '0'),
                                                                      ('@lang',
                                                                       'eng'),
                                                                      ('date',
                                                                       OrderedDict([('@timestamp',
                                                                                     '1475052491'),
                                                                                    ('#text',

### Get book information from API for each book in dataset

##### This shit could take awhile

In [91]:
#----------------------- Get API -----------------------------------------------------------------------

#import time

#books_api = books['bookID'].apply(lambda x: client.Book.show(x), time.sleep(2))

In [92]:
# result of this "get API shit" is a dataframe which every row is a object contain each book API in dict form

### Save API data in pickle

In [93]:
import pickle

In [94]:
#f = open('./saved file/books_api.pckl','wb')
#pickle.dump(books_api,f)
#f.close()

### Load API data

In [95]:
f = open('./saved file/books_api.pckl','rb')
books_api = pickle.load(f)
f.close()

In [96]:
books_api

0       {'id': '1', 'title': 'Harry Potter and the Hal...
1       {'id': '2', 'title': 'Harry Potter and the Ord...
2       {'id': '3', 'title': 'Harry Potter and the Sor...
3       {'id': '5', 'title': 'Harry Potter and the Pri...
4       {'id': '8', 'title': 'Harry Potter Boxed Set, ...
                              ...
2738    {'id': '47693', 'title': 'The Day I Swapped My...
2739    {'id': '47697', 'title': 'The Sandman: King of...
2740    {'id': '47699', 'title': 'M Is for Magic', 'is...
2741    {'id': '47700', 'title': 'Black Orchid', 'isbn...
2742    {'id': '47701', 'title': 'InterWorld (InterWor...
Name: bookID, Length: 2743, dtype: object

### Get information

#### Get Book Format

In [97]:
book_formats = []

for i in books_api:
    book_formats.append(i['format'])

In [98]:
books['format'] = book_formats

#### Get books description

In [99]:
descriptions = []

for i in books_api:
    descriptions.append(i['description'])

In [100]:
books['description'] = descriptions

#### Get Book Images

In [101]:
images = []

for i in books_api:
    image = i['image_url']
    image = image.replace("._SX98_","")
    images.append(image)

In [102]:
books['image'] = images

#### Get publisher

In [103]:
publishers = []

for i in books_api:
    publishers.append(i['publisher'])

In [104]:
books['publisher'] = publishers

#### Get Published Day

In [105]:
publication_days = []
publication_months = []
publication_years = []

for i in books_api:
    publication_days.append(i['publication_day'])
    publication_months.append(i['publication_month'])
    publication_years.append(i['publication_year'])

In [106]:
books['publication_day'] = publication_days
books['publication_month'] = publication_months
books['publication_year'] = publication_years

In [107]:
books

,title,page_number,format,description,image,publisher,publication_day,publication_month,publication_year
0,Harry Potter and the Half-Blood Prince (Harry ...,652,Paperback,When Harry Potter and the Half-Blood Prince op...,https://i.gr-assets.com/images/S/compressed.ph...,Scholastic Inc.,16,9,2006
1,Harry Potter and the Order of the Phoenix (Har...,870,Paperback,There is a door at the end of a silent corrido...,https://i.gr-assets.com/images/S/compressed.ph...,Scholastic Inc.,1,9,2004
2,Harry Potter and the Sorcerer's Stone (Harry P...,320,Hardcover,Alternate cover edition of ISBN 9780439554930<...,https://i.gr-assets.com/images/S/compressed.ph...,Scholastic Inc,26,6,1997
3,Harry Potter and the Prisoner of Azkaban (Harr...,435,Mass Market Paperback,Harry Potter's third year at Hogwarts is full ...,https://i.gr-assets.com/images/S/compressed.ph...,Scholastic Inc.,1,5,2004
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,2690,Paperback,Box Set containing Harry Potter and the Sorcer...,https://s.gr-assets.com/assets/nophoto/book/11...,Scholastic,13,9,2004
...,...,...,...,...,...,...,...,...,...
2738,The Day I Swapped My Dad for Two Goldfish,64,Hardcover,"<blockquote>""I'll swap you my dad,"" I said. <b...",https://s.gr-assets.com/assets/nophoto/book/11...,HarperCollins,31,8,2004
2739,The Sandman: King of Dreams,180,Hardcover,The first and only comic book to receive the W...,https://s.gr-assets.com/assets/nophoto/book/11...,Chronicle Books,1,9,2003
2740,M Is for Magic,260,None,"Stories to delight, enchant, and surprise you....",https://i.gr-assets.com/images/S/compressed.ph...,None,None,None,None
2741,Black Orchid,160,Paperback,By the acclaimed writer of THE SANDMAN LIBRARY...,https://i.gr-assets.com/images/S/compressed.ph...,DC Comics,1,9,1991
2742,InterWorld (InterWorld #1),239,Hardcover,When Newbery Medal winner Neil Gaiman and Emmy...,https://s.gr-assets.com/assets/nophoto/book/11...,HarperCollins,26,6,2007

#### Get Authors

In [108]:
#if type(books_api[0]['authors']['author']) == list: print("True")

##### Book Author API Example

In [131]:
#books_api[381]['authors']['author']

##### Get List Of Author

###### From Book API Get Author Name And Author Goodread API

In [110]:
author_goodread_ids = pd.DataFrame(columns = ['name','author_goodread_ID'])

In [111]:
for i in books_api:
    try:
        for j in i['authors']['author']:
            author_goodread_ids = author_goodread_ids.append({'name':j['name'] , 'author_goodread_ID':j['id']}, ignore_index = True)
    except:
        j = i['authors']['author']
        author_goodread_ids = author_goodread_ids.append({'name':j['name'] , 'author_goodread_ID':j['id']}, ignore_index = True)

In [112]:
author_goodread_ids

                   name author_goodread_ID
0          J.K. Rowling            1077326
1         Mary GrandPré               2927
2          J.K. Rowling            1077326
3         Mary GrandPré               2927
4          J.K. Rowling            1077326
...                 ...                ...
4029  Teddy Kristiansen             188344
4030        Neil Gaiman            1221698
4031        Dave McKean              10365
4032        Neil Gaiman            1221698
4033     Michael Reaves              12537

[4034 rows x 2 columns]

##### Drop duplicate column which have same name

In [113]:
author_goodread_ids.drop_duplicates(subset = "name", inplace = True)

In [114]:
author_goodread_ids.sort_values("name", inplace = True)

In [115]:
author_goodread_ids = author_goodread_ids.reset_index(drop = True)

#### Result

In [116]:
author_goodread_ids

                      name author_goodread_ID
0         A. Roger Merrill              20376
1              A.J. Jacobs             963811
2          A.N. Roquelaure             437669
3               A.S. Byatt            1169504
4              A.V. Miller               6185
...                    ...                ...
1970           ג'וזף קונרד           19653042
1971      جبران خليل جبران           17888244
1972  محمدعلی مهمان‌نوازان           15457599
1973       مریم کاظمی‌تبار           19311388
1974                  伊藤潤二           15137872

[1975 rows x 2 columns]

In [117]:
author_goodread_ids[author_goodread_ids['name'] == 'J.K. Rowling']

             name author_goodread_ID
762  J.K. Rowling            1077326

In [118]:
#author_goodread_ids.to_csv("./dataset/processed_dataset/author_goodread_ids.csv", index = False)

In [119]:
#----------------------- Get Author API -----------------------------------------------------------------------

#import time

#authors_api = author_goodread_ids['author_goodread_ID'].apply(lambda x: client.Author.show(x), time.sleep(2))

#### Save API Data In Pickle

In [120]:
#f = open('./saved file/authors_api.pckl','wb')
#pickle.dump(authors_api,f)
#f.close()

##### Load Author API Data

In [121]:
f = open('./saved file/authors_api.pckl','rb')
authors_api = pickle.load(f)
f.close()

##### Author API Example

In [133]:
#authors_api[0]

##### Create Authors table

In [123]:
authors = pd.DataFrame(columns = ['name','gender','hometown','born_at','died_at','about','image','influences'])

In [124]:
for i in authors_api:
    gender = i['gender']
    if gender == None: gender = 'unknown'
    hometown = i['hometown']
    if hometown == None: hometown = 'unknown'
    born_at = i['born_at']
    if born_at == None: born_at = 'unknown'
    died_at = i['died_at']
    if died_at == None: died_at = 'unknown'
    about = i['about']
    if about == None: about = 'unknown'
    influences = i['influences']
    if influences == None: influences = 'unknown'
    authors = authors.append({'name':i['name'] , 'gender':gender , 'hometown':hometown, 'born_at': born_at, 'died_at': died_at, 'about': about,'image': i['large_image_url'], 'influences': influences }, ignore_index = True)

In [125]:
authors.loc[1239]

name                                              Mary GrandPré
gender                                                   female
hometown                                           South Dakota
born_at                                              1954/01/01
died_at                                                 unknown
about         Educated at the Minneapolis College of Art and...
image         https://images.gr-assets.com/authors/139534482...
influences                                              unknown
Name: 1239, dtype: object

##### Get Relationship Between Book And Author

###### Get Authors Of Book

In [126]:
indices = pd.Series(author_goodread_ids.index, index = author_goodread_ids['name'])

In [127]:
indices

name
A. Roger Merrill           0
A.J. Jacobs                1
A.N. Roquelaure            2
A.S. Byatt                 3
A.V. Miller                4
                        ...
ג'וזף קונרד             1970
جبران خليل جبران        1971
محمدعلی مهمان‌نوازان    1972
مریم کاظمی‌تبار         1973
伊藤潤二                    1974
Length: 1975, dtype: int64

In [128]:
directors_of_book = pd.DataFrame(columns = ['bookID','authorID','role'])

In [129]:
count = 0
for i in books_api:
    try:
        for j in i['authors']['author']:
            role = j['role']
            if role == None: role = 'author'
            directors_of_book = directors_of_book.append({'bookID':count , 'authorID':indices[j['name']] , 'role':role}, ignore_index = True)
    except:
        j = i['authors']['author']
        role = j['role']
        if role == None: role = 'author'
        directors_of_book = directors_of_book.append({'bookID':count ,'authorID':indices[j['name']] , 'role':role}, ignore_index = True) 
    count+= 1

In [130]:
directors_of_book

     bookID authorID         role
0         0      762       author
1         0     1239  Illustrator
2         1      762       author
3         1     1239  Illustrator
4         2      762       author
...     ...      ...          ...
4029   2740     1806  Illustrator
4030   2741     1374       author
4031   2741      385  Illustrator
4032   2742     1374       author
4033   2742     1318       author

[4034 rows x 3 columns]